<!--Footer Start-->
            <footer class="pt-50 pb-50">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-6">
                            <!--Contant Item-->
                            <div class="contact-info">
                                <h5>محمدحسین مهارلویی</h5>
                                <p>توسعه دهنده وبسایت </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Contant Item-->
                            <div class="contact-info">
                                <h5>تلفن</h5>
                                <p>09397647255</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Contant Item-->
                            <div class="contact-info">
                                <h5>ایمیل</h5>
                                <p>hosseinmaharlooie@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Contant Item-->
                            <div class="contact-info">
                                <h5>آدرس</h5>
                                <p>ایران،تهران</p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <hr>
                            <p class="copy pt-30">
                                 <a style="color: dodgerblue;" href="https://www.linkedin.com/in/hosseinmaharlooei/">MMDSANE</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
<!--Footer End-->